rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all documents
    match /{document=**} {
      allow read, write: if true;
    }

    match /characters/{characterId} {
      allow read, write;
    }
    
    match /locations/{locationId} {
      allow read, write;
    }
    
    match /events/{eventId} {
      allow read, write;
    }
    
    match /customFields/{fieldId} {
      allow read, write;
    }
    
    match /style/{styleId} {
      allow read, write;
    }
  }
} 